html {
  height: 100%;
}

html,
body {
  font-family: 'Calibre Regular', Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to right, #babebf, #e4e8ec);
  /* padding: 2.2em; */
}

.App {
  margin: 2em 2.5em 1.7em 2.5em;
  background: white;
  border-radius: 15px;
  height: 90vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.App .content {
  display: flex;
  position: relative;
}

.App .content main {
  /* padding-top: 1em; */
  width: 100%;
  margin-left: 200px;
  height: 90vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: linear-gradient(white 20%, #e3e3e3 80%);
  overflow: auto;
}

.App .page {
  padding: 2em;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
}
