.image-rating {
  display: flex;
  align-items: center;
}

.image-rating img {
  height: 3em;
  display: inline;
  margin-right: 1em;
}

.name-text {
  display: flex;
  flex-direction: column;
  margin-top: 0.2em;
}

.name-text .name {
  color: #ff5752;
  font-size: 19px;
}

.name-text .text {
  line-height: 1.5;
}

.name-text .time {
  font-style: italic;
  margin-bottom: 0.3em;
}

.bottom .review {
  background: white;
  padding: 0.2em;
  border-radius: 8px;
  overflow: scroll;
  position: relative;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.bottom .review ::-webkit-scrollbar {
  display: block;
}

.bottom .review {
  -ms-overflow-style: block;
}
