.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2em;
}

.register-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 5em;
  border-radius: 8px;
  width: 30em;
}

.register-page form input {
  display: block;
  margin: 1em 0px 1em 0px;
  padding: 0.3em;
  border-radius: 8px;
  border: none;
  border: 1px solid #3b38ff;
  height: 3em;
  width: 15em;
}

.register-page form input:focus {
  outline: none;
}

.register-page form input[type='submit'] {
  margin-top: 1em;
  border-color: #ff5752;
  font-size: 11px;
  cursor: pointer;
}

.register-page form input[type='submit']:hover {
  background: #ff5752;
  color: white;
}

.register-page .error-message {
  color: #ff5752;
  display: block;
  margin-top: 1em;
}
